<div id="adminsubject" class="adminnav2" (window:resize)="onResize($event)">
    <div [ngClass]="{'show':(mobileversion == false)||(mobileversion == true && showadminnav == true),'hide':mobileversion == true && showadminnav == false}">
        <app-adminnav [fatherpage]="page"></app-adminnav>
        <div (click)="closenav()" class="btnnav">
            Fermer
        </div>
    </div>
    <div>
        <div class="svgbtnnav">
            <svg (click)="opennav()" class="margin-left:10px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 8 16"><path fill-rule="evenodd" d="M8 4v1H0V4h8zM0 8h8V7H0v1zm0 3h8v-1H0v1z"/></svg>
        </div>
        <div>
            <div class="container pt-2">
                <div class="row">
                    <div class="col-12">
                        <form  (ngSubmit)="createOneSubject()"  [formGroup]="subjectform1"><!--
                            <div *ngIf="msgalertaddarticle != ''" class="mt-1 mb-1">
                                <span [innerHTML]="msgalertaddarticle"></span>
                            </div>-->
                            <div class="form-group">
                                <label for="title">Titre</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="title"  formControlName="title">    
                            </div>
                            <div class="form-group">
                                <label for="content">Résumé</label>
                                <angular-editor id="editor1" formControlName="htmlContent1" [config]="editorConfig" [placeholder]="'Enter text here...'" formControlName="plot"></angular-editor>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter un sujet</button>
                        </form>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



