#blog{
    width:100%;
    background:gray;
    min-height:100vh;
}
#blog>div:nth-child(1){
    width:100%;
    display:flex;
    font-size:40px;
    justify-content: center;
    background:orange;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Courgette', cursive;
}

#blog>div:nth-child(2){
    background:white;
}

#blog .onearticle{
    width:100%;
}

#blog .onearticle:hover{
    padding:5px;
    background-color:rgb(240,240,240);
}

#blog .onearticle h4:hover{
    text-decoration: underline;
    cursor:pointer;
}

#blog .usefullinks a{
    padding:0 !important;
}