<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#" (click)="changenavtitle('blog')" routerLink="/blog">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="{'nav-item active': navtitle=='images', 'nav-item': navtitle != 'images'}">
        <a (click)="changenavtitle('images')" routerLink="/image" class="nav-link" href="#">Images</a>
      </li>
      <li [ngClass]="{'nav-item active': navtitle=='videos', 'nav-item': navtitle != 'videos'}">
        <a (click)="changenavtitle('videos')" routerLink="/video" class="nav-link" href="#">Videos</a>
      </li>
      <li *ngIf="allsubjects != ''" class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sujets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let item of allsubjects" class="dropdown-item" href="#" [routerLink]="['/subject', item.id]">{{item.title}}</a>
        </div>
      </li>
      <li [ngClass]="{'nav-item active': navtitle=='contact', 'nav-item': navtitle != 'contact'}">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bonjour
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div *ngIf="isconnected == true && showadmin === true">
            <a (click)="changenavtitle('admin')" routerLink="/admin/article" class="dropdown-item" href="#">Admin</a>
          </div>
          <a *ngIf="isconnected != true" (click)="changenavtitle('log')" [routerLink]="['/login', 1]" class="dropdown-item" href="#">Se connecter</a>
          <a *ngIf="isconnected != true" (click)="changenavtitle('log')" [routerLink]="['/login', 2]" class="dropdown-item" href="#">S'inscrire</a>
          <a (click)="changenavtitle('profile')" routerLink="/profile" class="dropdown-item" href="#" *ngIf="isconnected == true">Profil</a>
          <a class="dropdown-item" href="#" *ngIf="isconnected == true" (click)="logout()">Se déconnecter</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
